.popup{
	position: absolute;
	background-color: rgba(0,0,0,0.3);
	width: 100vw;
	height: 100vh;
	top:0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	&__window{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: #e6e6e7;
		padding: 2.55rem 0 0;
		border-radius: 1rem;
		width: 30rem;

	}
	&__input{
		font-size: 2rem;
		caret-color: #007aff;
		width: 90%;
		height: 2.7rem;
		margin: 1.3rem 5% 0;
		border:1px solid silver;
		&:focus{
			outline: none;
			border:1px solid silver;
		}

 	}
	&__form{
		flex-wrap: wrap;
		display: flex;
		justify-content: space-between;
	}
	&__button{
		margin-top: 1rem;
		width: 50%;
		font-size: 1.5rem;
		padding: 2.05rem 0rem;
		border-top: 1px solid silver;
		&+&{
			border-left: 1px solid silver;
		}
		color: #007aff;
	}
	&__title{
		margin: 0;
		font-size: 1.3rem;
	}
	&__text{
		text-align: center;
		margin-top: 0.5rem;
	}
	&__error{
		padding:0 5%;
		width: 100%;
		color:red;
	}	
}